@tailwind base;
@tailwind components;
@tailwind utilities;

/* スマートフォン用のスタイル */
@media screen and (max-width: 640px) {
  .header {
    height: 60px;
    padding: 10px;
  }
}

/* タブレット用のスタイル */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .header {
    height: 80px;
    padding: 20px;
  }
}

/* デスクトップ用のスタイル */
@media screen and (min-width: 1024px) {
  .header {
    height: 100px;
    padding: 30px;
  }
}
